# Data Wrangling Walkthrough

## Gather

In [1]:
import pandas as pd
import zipfile

In [2]:
# Extract all contents from zip file
with zipfile.ZipFile('armenian-online-job-postings.zip', 'r') as myzip:
    myzip.extractall()

In [3]:
job_postings = pd.read_csv('online-job-postings.csv')

## Assess

In [4]:
job_postings.shape

(19001, 24)

In [5]:
job_postings.head(5)

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,Salary,ApplicationP,OpeningDate,Deadline,Notes,AboutC,Attach,Year,Month,IT
0,AMERIA Investment Consulting Company\r\nJOB TI...,"Jan 5, 2004",Chief Financial Officer,AMERIA Investment Consulting Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"To apply for this position, please submit a\r\...",NaN,26 January 2004,NaN,NaN,NaN,2004,1,False
1,International Research & Exchanges Board (IREX...,"Jan 7, 2004",Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),NaN,NaN,NaN,NaN,NaN,3 months,...,NaN,Please submit a cover letter and resume to:\r\...,NaN,12 January 2004,NaN,The International Research & Exchanges Board (...,NaN,2004,1,False
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,"Jan 7, 2004",Country Coordinator,Caucasus Environmental NGO Network (CENN),NaN,NaN,NaN,NaN,NaN,Renewable annual contract\r\nPOSITION,...,NaN,Please send resume or CV toursula.kazarian@......,NaN,20 January 2004\r\nSTART DATE: February 2004,NaN,The Caucasus Environmental NGO Network is a\r\...,NaN,2004,1,False
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,"Jan 7, 2004",BCC Specialist,Manoff Group,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Please send cover letter and resume to Amy\r\n...,NaN,23 January 2004\r\nSTART DATE: Immediate,NaN,NaN,NaN,2004,1,False
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,"Jan 10, 2004",Software Developer,Yerevan Brandy Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Successful candidates should submit\r\n- CV; \...,NaN,"20 January 2004, 18:00",NaN,NaN,NaN,2004,1,True

Looking the data above, there are some issues identified:
* Missing values (NaN)
* StartDate inconsistencies (ASAP)

In [6]:
job_postings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19001 entries, 0 to 19000
Data columns (total 24 columns):
jobpost             19001 non-null object
date                19001 non-null object
Title               18973 non-null object
Company             18994 non-null object
AnnouncementCode    1208 non-null object
Term                7676 non-null object
Eligibility         4930 non-null object
Audience            640 non-null object
StartDate           9675 non-null object
Duration            10798 non-null object
Location            18969 non-null object
JobDescription      15109 non-null object
JobRequirment       16479 non-null object
RequiredQual        18517 non-null object
Salary              9622 non-null object
ApplicationP        18941 non-null object
OpeningDate         18295 non-null object
Deadline            18936 non-null object
Notes               2211 non-null object
AboutC              12470 non-null object
Attach              1559 non-null object
Year                19001 non-null int64
Month               19001 non-null int64
IT                  19001 non-null bool
dtypes: bool(1), int64(2), object(21)
memory usage: 3.4+ MB

* Nondescriptive column headers (ApplicationP, AboutC, RequiredQual ... and also JobRequirment)

In [7]:
job_postings.tail(5)

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,Salary,ApplicationP,OpeningDate,Deadline,Notes,AboutC,Attach,Year,Month,IT
18996,Technolinguistics NGO\r\n\r\n\r\nTITLE: Senio...,"Dec 28, 2015",Senior Creative UX/ UI Designer,Technolinguistics NGO,NaN,Full-time,NaN,NaN,NaN,Long-term,...,Competitive,"To apply for this position, please send your\r...",29 December 2015,28 January 2016,NaN,As a company Technolinguistics has a mandate t...,NaN,2015,12,False
18997,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Category Development Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",NaN,Full-time,All interested professionals.,NaN,ASAP,Long-term with a probation period of 3 months.,...,NaN,All interested candidates are kindly requested...,30 December 2015,20 January 2016,NaN,NaN,NaN,2015,12,False
18998,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Operational Marketing Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",NaN,Full-time,All interested professionals.,NaN,ASAP,Long-term with a probation period of 3 months.,...,NaN,All interested candidates are kindly requested...,30 December 2015,20 January 2016,NaN,NaN,NaN,2015,12,False
18999,San Lazzaro LLC\r\n\r\n\r\nTITLE: Head of O...,"Dec 30, 2015",Head of Online Sales Department,San Lazzaro LLC,NaN,NaN,NaN,NaN,NaN,Long-term,...,Highly competitive,Interested candidates can send their CVs to:\r...,30 December 2015,29 January 2016,NaN,San Lazzaro LLC works with several internation...,NaN,2015,12,False
19000,"""Kamurj"" UCO CJSC\r\n\r\n\r\nTITLE: Lawyer in...","Dec 30, 2015",Lawyer in Legal Department,"""Kamurj"" UCO CJSC",NaN,Full-time,NaN,NaN,NaN,Indefinite,...,NaN,All qualified applicants are encouraged to\r\n...,30 December 2015,20 January 2016,NaN,"""Kamurj"" UCO CJSC is providing micro and small...",NaN,2015,12,False

In [8]:
job_postings.Year.value_counts()

2012    2149
2015    2009
2013    2009
2014    1983
2008    1785
2011    1697
2007    1538
2010    1511
2009    1191
2005    1138
2006    1116
2004     875
Name: Year, dtype: int64

## Clean
### Issue 1
#### Define
* Select the records in the StartDate column that have "As soon as possible", "Immediately" and replace the text in those cells with "ASAP".

#### Code

In [9]:
job_postings_clean = job_postings.copy()

In [10]:
job_postings_clean.StartDate.value_counts()

ASAP                                                  4754
Immediately                                            773
As soon as possible                                    543
Upon hiring                                            261
Immediate                                              259
Immediate employment                                   140
As soon as possible.                                    32
01 September 2012                                       31
March 2006                                              27
November 2006                                           22
January 2010                                            19
01 February 2005                                        17
Immediate job opportunity                               17
February 2014                                           17
February 2011                                           16
September 2010                                          16
TBD                                                     16
March 2011                                              15
September 2008                                          15
01 July 2014                                            14
01 February 2015                                        14
February 2007                                           14
01 September 2008                                       13
January 2016                                            13
01 September 2010                                       13
01 March 2006                                           13
01 April 2014                                           12
01 October 2008                                         12
September 2013                                          12
01 October 2012                                         12
                                                      ...
20 May 2015                                              1
Summer 2006                                              1
01 January 2006                                          1
10 June 2007                                             1
01 May 2012                                              1
Mid August thru December 2008                            1
1 July 2013                                              1
May 2008                                                 1
05 December 2005                                         1
Expected starting date 05 May 2014                       1
13 January 2014                                          1
15 February  2006                                        1
06 September 2010                                        1
25 July 2012                                             1
01 December  2012                                        1
29 May 2010/ 19:00                                       1
15.09.08                                                 1
01 October , 2006-June 2007                              1
1 December 2010 or earlier                               1
05 November  2012                                        1
05 March 2015, 6:30 p.m.                                 1
Preferably 15 February 2005, latest 01 March 2005.       1
Expected: 05 June 2014                                   1
15:00,  15 June 2005                                     1
When-actually-employed basis.                            1
01 September 2014 or ASAP                                1
15 April 2009                                            1
01 June 2007, the latest 01 July 2007                    1
27 December 2010                                         1
June 2014 (expected)                                     1
Name: StartDate, Length: 1186, dtype: int64

In [11]:
asap_list = ['Immediately', 'As soon as possible', 'Upon hiring',
             'Immediate', 'Immediate employment', 'As soon as possible.', 'Immediate job opportunity',
             '"Immediate employment, after passing the interview."',
             'ASAP preferred', 'Employment contract signature date',
             'Immediate employment opportunity', 'Immidiately', 'ASA',
             'Asap', '"The position is open immediately but has a flexible start date depending on the candidates earliest availability."',
             'Immediately upon agreement', '20 November 2014 or ASAP',
             'immediately', 'Immediatelly',
             '"Immediately upon selection or no later than November 15, 2009."',
             'Immediate job opening', 'Immediate hiring', 'Upon selection',
             'As soon as practical', 'Immadiate', 'As soon as posible',
             'Immediately with 2 months probation period',
             '12 November 2012 or ASAP', 'Immediate employment after passing the interview',
             'Immediately/ upon agreement', '01 September 2014 or ASAP',
             'Immediately or as per agreement', 'as soon as possible',
             'As soon as Possible', 'in the nearest future', 'immediate',
             '01 April 2014 or ASAP', 'Immidiatly', 'Urgent',
             'Immediate or earliest possible', 'Immediate hire',
             'Earliest  possible', 'ASAP with 3 months probation period.',
             'Immediate employment opportunity.', 'Immediate employment.',
             'Immidietly', 'Imminent', 'September 2014 or ASAP', 'Imediately']

In [12]:
for word in asap_list:
    job_postings_clean.StartDate.replace(word, 'ASAP', inplace=True)

#### Test

In [15]:
job_postings_clean.StartDate.value_counts()

ASAP                                                  6856
01 September 2012                                       31
March 2006                                              27
November 2006                                           22
January 2010                                            19
01 February 2005                                        17
February 2014                                           17
September 2010                                          16
TBD                                                     16
February 2011                                           16
September 2008                                          15
March 2011                                              15
01 February 2015                                        14
01 July 2014                                            14
February 2007                                           14
01 March 2006                                           13
01 September 2010                                       13
01 September 2008                                       13
January 2016                                            13
01 October 2012                                         12
01 April 2014                                           12
01 March 2012                                           12
June 2008                                               12
September 2013                                          12
Fall 2010                                               12
01 October 2008                                         12
01 September 2013                                       11
01 April 2012                                           11
01 April 2009                                           11
January 2011                                            11
                                                      ...
May 17-21, 2004                                          1
Beginning of October 2005                                1
The assignment will commence on October 1, 2004.         1
01 June 2007, the latest 01 July 2007                    1
15 April 2009                                            1
When-actually-employed basis.                            1
15 February  2006                                        1
20 June 2013                                             1
19 September 2007                                        1
17 July 2006                                             1
20 February 2013                                         1
1 July 2013                                              1
May 2008                                                 1
05 December 2005                                         1
March  2015                                              1
Expected starting date 05 May 2014                       1
13 January 2014                                          1
06 September 2010                                        1
15:00,  15 June 2005                                     1
25 July 2012                                             1
01 December  2012                                        1
29 May 2010/ 19:00                                       1
15.09.08                                                 1
01 October , 2006-June 2007                              1
1 December 2010 or earlier                               1
05 March 2015, 6:30 p.m.                                 1
Preferably 15 February 2005, latest 01 March 2005.       1
05 November  2012                                        1
Expected: 05 June 2014                                   1
July-August 2005                                         1
Name: StartDate, Length: 1140, dtype: int64

#### Test

In [22]:
for word in asap_list:
    assert word not in job_postings_clean.StartDate.values

### Issue 2
#### Define
* Select the nondescriptive and misspelled column headers (ApplicationP, AboutC, RequeiredQual, JobRequirment) and replace them with full words (ApplicationProcedure, AboutCompany, RequiredQualifications, JobRequirement).

#### Code

In [13]:
job_postings_clean = job_postings_clean.rename(columns={'ApplicationP': 'ApplicationProcedure',
                                                        'AboutC': 'AboutCompany',
                                                        'RequiredQual': 'RequiredQualifications',
                                                        'JobRequirment': 'JobRequirements'})

#### Test

In [14]:
job_postings_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19001 entries, 0 to 19000
Data columns (total 24 columns):
jobpost                   19001 non-null object
date                      19001 non-null object
Title                     18973 non-null object
Company                   18994 non-null object
AnnouncementCode          1208 non-null object
Term                      7676 non-null object
Eligibility               4930 non-null object
Audience                  640 non-null object
StartDate                 9675 non-null object
Duration                  10798 non-null object
Location                  18969 non-null object
JobDescription            15109 non-null object
JobRequirements           16479 non-null object
RequiredQualifications    18517 non-null object
Salary                    9622 non-null object
ApplicationProcedure      18941 non-null object
OpeningDate               18295 non-null object
Deadline                  18936 non-null object
Notes                     2211 non-null object
AboutCompany              12470 non-null object
Attach                    1559 non-null object
Year                      19001 non-null int64
Month                     19001 non-null int64
IT                        19001 non-null bool
dtypes: bool(1), int64(2), object(21)
memory usage: 3.4+ MB